<head>
    <link rel="stylesheet" href="../../static/login/css/master.css">
    <link rel="stylesheet" href="../../static/login/css/login.css">
</head>
<body>
    <div id="errMsg">
        Something went wrong. Please, try again.
    </div>
    <input type="submit" id="showBtn" value="show" onclick="show()">
    <div class="indent"></div>
    <div id="root"></div>
    <script type="text/javascript" src="../../static/login/js/main.js"></script>
    <script type="text/javascript">
        function show() {
            loginForm.style.opacity = "1";
        }
        document.addEventListener("click", (e) => {
            if (e.target.id != "loginForm" && e.target.parentElement != loginForm
                && e.target.id != "showBtn") {
                loginForm.style.opacity = "0";
            }
        });
    </script>
</body>
